/*zero-sreen elements*/
.container {
    background-color: rgb(244, 217, 208);
    /* background-image: linear-gradient(rgb(199, 91, 122,0.5), rgb(217, 171, 171,0.5)),
                  url("logo2.png"); */
    background-size: cover; /* Makes sure the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    min-width:100%;
    min-height: 100vh; /* Centers the content vertically */
}

.card {
    background-color: #C75B7A;
    padding: 20px;
    width: 80%;
    /*max-width: 400px; /* Ensures responsiveness */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin:0.5rem; /* Softer shadow */
}