.dashboard-card {
    /* background-color: #C75B7A; */
    padding: 20px;
    width: 80%;
    /*max-width: 400px; /* Ensures responsiveness */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin:0.5rem; /* Softer shadow */   
}

.know-more{
    display:flex;
    justify-content: space-between;
}

.description{
    width:70%;
    text-align: center;
}
.about-picture{

    width: 30%;
    max-width: 200px; 
    height: auto;
    padding-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    padding:0.5rem;
    
}
.picture{
    width: auto; /* Let the width adjust automatically */
    max-width: 100%; /* Scale to fit the container */
    max-height: 100%; /* Scale to fit the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5%;
    object-fit: contain; /* Make sure it fits within the container */
}